.container
  %h2.title All Boards 
  - @boards.each do |board|
    .dropdown-boards
    = image_tag 'menu.png', class: 'menubtn dropbtn-boards'
    .dropdown-content-boards
      %a{:href => "#"} Edit
      %a{:href => "#"} Delete
  .add_card
    %p 
      = link_to '+ Add new borad', new_board_path 