@import 'header';
@import 'variables';
@import 'user';
@import 'buttons';
@import 'common';
@import 'card';
@import 'newboard';


// body {
//   height: 100%;
//   color: $text-base-color;
// }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover{
    color: $primary-color;
    opacity: 0.7;
  }
}

.container {
  margin: 0 26px;
  margin-top: 33px;
}