@import './variables';

$avatar-size: 40px;
$header-padding-y: 16px;
$back-icon-size: 16px;

.header {
    display: flex;
    justify-content: space-between;

    a {
        color: $primary-color;
        text-decoration: none;
        margin-right: 10px;
        &:hover {
          opacity: 0.7;
        }
    }
   
    .pageTitle {
        width: 56px;
        height: 25px;
        margin-left: 30px;
        margin-top: 17px;
        margin-bottom: 16px;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
    }

    .header_avatar {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 100%;
        margin-top: 10px;
        margin-right: 22px;
        margin-bottom: 8px;
      }
    
    
      &_loginBtn {
        height: $avatar-size;
        border-radius: 8px;
        margin-top: 17px;
        font-size: 12px;
        margin-right: 10px;
      }
}

.line {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0px;
    top: 58px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.1;
}