@import './variables'; 
$container-padding: 16px;


.card {
  position: relative;
  width: 100%;
  height: 100%;
  background: $text-box-color;
  border-radius: 10px;
  margin-bottom: 26px;

    &_image {
    height: 170px;
    position: relative;
    overflow: hidden;
    // margin: $container-padding * -1 $container-padding * -1 16px;
    

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      // margin-top: 20px;
      border-radius: 8px;
    }
  }

  h3 {
    padding-left:17px;
    padding-top: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }

  p {
    height: 19px;
    padding-left: 17px;
    padding-top: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    mix-blend-mode: normal;
    opacity: 0.4;
    }

    h4 {
      height: 19px;
      padding-left: 17px;
      padding-top: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 19px;
      mix-blend-mode: normal;
      opacity: 0.4;
      margin-left: 40px;
    }

    .task_avatar {
      width: 30px;
      height: 30px;
      margin-left: 20px;
      margin-top: 40px;
      margin-bottom: 10px;
    }

    // .name {
    //   font-size: 15px;
    //   padding-top: 45px;
    //   padding-left: 60px; 
    //   display:block
    // }

    .task_image {
      position: absolute;
      // top: 20px;
      // left: 25px;
      width: 90%;
      // height: auto;
      border-radius: 8px;
      text-align: center;
    }

}



.add_card {
  width: 100%;
  height: 160px;
  top: 348px;
  background: #FFFFFF;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  p {
    position: relative;
    height: 25px;
    left: 0.35%;
    right: 0.35%;
    top: calc(50% - 25px/2);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
  }
}